body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
  width: 1200px;
  height: 1650px;
  background-position: top center;
  background-repeat: no-repeat;
}
.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #849d8f;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.site-navigation a,
.user-navigation a {
  color: #ffffff;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}
.time {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.сreme-brulee {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
}
.get-two {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.get-it {
  background-color: #ea5339;
  width: 278px;
  height: 63px;
  border-radius: 30px;
}
.jam-background{
  background-color: #ea5339;
  width: 165px;
  height: 46px;
  border-radius: 20px;
}
.get-jam {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.chocolate-background {
  background-color: #ea5339;
  width: 165px;
  height: 46px;
  border-radius: 20px;
}
.get-chocolate {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.special-offer {
  text-align: center;
}
.special-offer h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.best-choise p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}
.best-choise a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}
.best-choise span {
  font-size: 30px;
  line-height: 45px;
}
.best-choise .catalog-item {
  list-style: none;
}
.about-waffle {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #eee2c8;
  width: 1146px;
  height: 306px;
  background-image: url("../img/waffle.png");
  background-position: center;
  background-repeat: no-repeat;
}
.about-waffle h3 {
  font-size: 24px;
  line-height: 30px;
}
.ways-fruit {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;


  background-color: #ffffff;
  border-radius: 15px;
  background-image: url("../img/waysten.png");
  width: 560px;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
}
.ways-fruit h4 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.ways-fruit .blog {
    color: #323232;
}
.sweet-subscribe {
  font-weight: 400;
  color: #323232;

  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
}

.sweet-background {
  background-color: #f8f7f4;
  width: 548px;
  height: 210px;
  border-radius: 10px;
}
.map {
  background-color: #ffffff;
  background-image: url("../img/map.jpg");
  width: 1200px;
  height: 430px;
  background-position: center;
  background-repeat: no-repeat;
}
.contacts-info {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;

  background-color: #f8f7f4;
  width: 302px;
  height: 305px;
  border-radius: 10px;
}
.contacts-info .connect {
  background-color: #ea5339;
  width: 251px;
  height: 43px;
  border-radius: 20px;
}
.contacts-info .button-connect {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.social  {
  list-style: none;
}
.social .twitter {
  background-image: url("../img/twitter.svg");
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}
.social .instagram {
  background-image: url("../img/instagram.svg");
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}
.social .facebook {
  background-image: url("../img/fb.svg");
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}
.social .vk {
  background-image: url("../img/vk.svg");
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}
.ft-about  {
  list-style: none;
}
.about-production,
.our-documents,
.environmental-standards {
  color: #ffffff;
}
.popularity {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  width: 193px;
  height: 36px;
  border-radius: 10px;
  border-color: : transparent;
}
.pagination-list {
  list-style: none;
}
.contacts-info span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.footer-about {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.for-providers {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}
.made-by {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}
.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}
.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}
.filters {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.pagination-list {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.login-form .restore,
.login-form .new-registration {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}
